# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.*.local
.env.local

# IDEs y sistemas
.DS_Store
.idea/
.vscode/

# Archivos temporales
.temp/
*.log

# Salidas de build
dist/
build/

# Archivos de despliegue o precompilados
/public/assets/js/**/*.map

# Backups, thumbs u otros archivos generados accidentalmente
*.bak
*.tmp
Thumbs.db

# GitHub / Supabase
.supabase/
